services:
  chat_db:
    image: postgres:latest
    container_name: chat_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5555:5432
    networks:
      - chat_nest

  chat:
    container_name: chat
    build:
      context: ./websocket-test
      dockerfile: Dockerfile
    env_file:
      - ./websocket-test/.env
    command: pnpm run dev
    ports:
      - 3001:3001
    depends_on:
      - chat_db
    networks:
      - chat_nest

  app:
    container_name: app
    build:
      context: ./communication-test
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - 3000:3000
    depends_on:
      - chat_db
      - chat
    networks:
      - chat_nest

networks:
  chat_nest:
    driver: bridge